.home {
  outline: none;
  display: inline-flex;
}

.logo {
  display: inline-flex;
  padding: 10px;
  margin: -10px;
  border-radius: var(--radius);

  &:hover {
    outline: none;
    background: var(--lighter-gray);
  }
}

.nav {
  z-index: 10;
  padding: var(--gap-double) var(--gap);
  position: sticky;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--header-bg);
}

@media (max-width: 960px) {
  .nav {
    padding: var(--gap);
  }
}

.header {
  height: 60px;
  margin: 0 auto;
  padding: 0 var(--gap);
  max-width: var(--main-content);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  overflow: auto;
  color: var(--gray-alpha);
  font-weight: 500;
  margin-left: -20px; /* icon size diff */
  flex-grow: 1;
  text-align: center;
  margin-inline: 2em;
  text-decoration: none;
}

.hint {
  width: 100%;
  color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;

  & kbd {
    color: var(--fg);
  }
}
