---
import { cn } from "~/lib/utils";

interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<section class={cn("my-8 print:my-4 text-sm animate", className)}>
  <h3 class="mb-6 print:mb-2">
    {title}
  </h3>
  <div class="flex flex-col gap-6 print:gap-2">
    <slot />
  </div>
</section>
