---
import type { CollectionEntry } from "astro:content";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import { dateRange } from "~/lib/utils";

interface Props {
  entry: CollectionEntry<"education"> & {
    Content: AstroComponentFactory;
  };
}

const { entry } = Astro.props;
---

<div class="flex">
  <div
    class="max-w-[100px] w-full text-stone-400 dark:text-stone-400 flex flex-col"
  >
    {
      dateRange(entry.data.dateStart, entry.data.dateEnd).map((date) => (
        <p>{date}</p>
      ))
    }
  </div>
  <div class="flex flex-col flex-1">
    <h4>{entry.data.school}</h4>

    <p class="text-stone-600 dark:text-stone-400">
      {entry.data.degree}
    </p>

    <div class="content print:hidden">
      <entry.Content />
    </div>
  </div>
</div>
