.inline {
  width: 40px;
  vertical-align: middle;

  & > svg {
    vertical-align: sub;
    width: inherit;
  }
}

img.inline {
  border-radius: var(--radius);
}

.st0 {
  fill: #ffffff;
}

.st1 {
  fill: none;
  stroke: #414042;
  stroke-width: 3.29;
  stroke-linejoin: round;
}
