@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter Tight", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

blockquote {
  @apply border-l-2 border-stone-200 dark:border-stone-800;
}

@layer utilities {
  html {
    overflow-y: scroll;
    color-scheme: light;
  }

  html.dark {
    color-scheme: dark;
  }

  html,
  body {
    @apply size-full;
  }

  body {
    @apply font-sans antialiased;
    @apply flex flex-col;
    @apply bg-stone-100 dark:bg-stone-900;
    @apply text-black/50 dark:text-white/75;
  }

  header {
    @apply fixed top-0 left-0 right-0 z-50 py-5;
    @apply bg-stone-100/75 dark:bg-stone-900/0;
    @apply backdrop-blur-xs saturate-200;
  }

  main {
    @apply flex-1 py-32;
  }

  footer {
    @apply py-5 text-sm;
  }

  .content {
    @apply mt-2;
  }

  .content a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-black/15 dark:decoration-white/30;
    @apply transition-colors duration-300 ease-in-out;
    @apply hover:text-black dark:hover:text-white;
  }

  article > ul,
  .content > ul {
    @apply list-disc;
  }

  article > ol,
  .content > ol {
    @apply list-decimal;
  }

  article {
    @apply max-w-full dark:prose-invert prose-img:mx-auto prose-img:my-auto prose-sm;
    @apply prose-headings:font-semibold prose-p:font-sans;
    @apply prose-headings:text-black dark:prose-headings:text-white;
  }
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-black/15 dark:decoration-white/30;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-black dark:text-white;
    @apply decoration-black/25 dark:decoration-white/50;
  }
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}
