.globe {
  width: 100%;
  max-width: 600;
  aspect-ratio: 1;
  margin: auto;
  position: relative;

  & > canvas {
    width: 100%;
    height: 100%;
    cursor: grab;
    contain: layout paint size;
    opacity: 0;
    transition: opacity 1s ease;
    border-radius: 50%;
    margin-left: 5px;
    background-color: var(--bg);
  }
}

.destinations {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;

  & > button {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
  }
}

@media (max-width: 800px) {
  .destinations {
    flex-direction: column;
    font-size: larger;
  }
}
