---
import type { CollectionEntry } from "astro:content";
import LinkIcon from "~/components/icons/LinkIcon.astro";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
};

const { entry } = Astro.props;
---

<a
  href={`/${entry.collection}/${entry.slug}`}
  class="relative group flex flex-nowrap py-3 px-4 gap-2 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
>
  <div class="flex flex-col flex-1 truncate">
    <div class="font-semibold">
      {entry.data.title}
    </div>
    <div class="text-sm truncate max-w-9/12">
      {entry.data.description}
    </div>
  </div>
  <LinkIcon class="size-5" />
</a>
