---
import Button from "~/components/Button.astro";
import LinkIcon from "~/components/icons/LinkIcon.astro";

interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<Button href={href} id="back-to-prev">
  <LinkIcon class="rotate-180" />
  <span class="title-render">
    <slot />
  </span>
</Button>
