---
import LinkIcon from "@assets/icons/link.svg";
---

<button
  id="back-to-top"
  class="relative group w-fit flex pl-8 pr-3 py-1.5 flex-nowrap rounded-sm border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out hover:cursor-pointer"
>
  <LinkIcon
    class="absolute top-1/2 left-2 -translate-y-1/2 size-4 stroke-2 fill-none stroke-current -rotate-90"
  />
  <div class="text-sm">Back to top</div>
</button>
