---
import Button from "~/components/Button.astro";
import LinkIcon from "~/components/icons/LinkIcon.astro";
---

<Button id="back-to-top">
  <LinkIcon class="-rotate-90" />
  <span class="title-render">Back to top</span>
</Button>
