---
import LinkIcon from "~/components/icons/LinkIcon.astro";

interface Props {
  href?: string;
}

const { href } = Astro.props;
const className =
  "relative group w-fit flex px-3 gap-2 py-1.5 flex-nowrap rounded-sm border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out hover:cursor-pointer";
---

{
  href ? (
    <a href={href} class={className} id="back-to-prev">
      <LinkIcon class="rotate-180" />
      <div class="title-render text-sm">
        <slot />
      </div>
    </a>
  ) : (
    <button type="button" class={className} id="back-to-prev">
      <LinkIcon class="rotate-180" />
      <div class="title-render text-sm">
        <slot />
      </div>
    </button>
  )
}
