---
import LinkIcon from "@components/icons/LinkIcon.astro";
---

<button
  id="back-to-top"
  class="relative group w-fit flex px-3 gap-2 py-1.5 flex-nowrap rounded-sm border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out hover:cursor-pointer"
>
  <LinkIcon class="-rotate-90" />
  <div class="text-sm">Back to top</div>
</button>
