---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  simple?: boolean;
  class?: string;
};

const { href, external, underline = true, simple = false, class: className, ...rest } = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={cn(
    "inline-flex",
    !simple &&
      "decoration-black/15 dark:decoration-white/30 hover:decoration-black/25 dark:hover:decoration-white/50 text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out",
    underline && "underline underline-offset-2",
    className
  )}
  {...rest}
>
  <slot />
</a>
