---
import Button from "~/components/Button.astro";
---

<Button href="/rss.xml" ariaLabel="Subscribe to the blog via RSS">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="size-4 fill-none stroke-current stroke-2"
    aria-hidden="true"
  >
    <path d="M4 11a9 9 0 0 1 9 9"></path>
    <path d="M4 4a16 16 0 0 1 16 16"></path>
    <circle cx="5" cy="19" r="1" class="fill-current stroke-none"></circle>
  </svg>
  <span class="title-render">Subscribe via RSS</span>
</Button>
