<a
  href="/rss.xml"
  class="group inline-flex min-h-10 w-fit items-center gap-2 rounded-sm border border-black/15 px-3 py-2 text-sm transition-[color,background-color,transform] duration-300 ease-in-out hover:bg-black/5 hover:text-black active:scale-[0.96] dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white"
  aria-label="Subscribe to the blog via RSS"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="size-4 fill-none stroke-current stroke-2"
    aria-hidden="true"
  >
    <path d="M4 11a9 9 0 0 1 9 9"></path>
    <path d="M4 4a16 16 0 0 1 16 16"></path>
    <circle cx="5" cy="19" r="1" class="fill-current stroke-none"></circle>
  </svg>
  <span class="title-render">Subscribe via RSS</span>
</a>
