.nowPlaying {
  margin-top: 3rem;
  height: 40px;
  display: flex;
  align-items: center;
}

.nowPlaying > span {
  max-width: 34rem;
}

.nowPlaying > span > b {
  vertical-align: middle;
}

.nowPlaying img {
  margin-left: 0.4rem;
  float: left;
}

.inline {
  width: 30px;
  vertical-align: middle;
  margin-right: 0.2rem;
}

.bigIcon {
  width: 50px;
  vertical-align: middle;
}

.bigPicture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigPicture > span + span > span {
  display: block;
  float: right;
  animation: fadein 2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25rem;
}

.bigPicture > .show > a {
  margin-left: 0.4rem;
  margin-right: 1rem;
}

.bigPicture > .show > a img {
  width: 80px;
  vertical-align: middle;
  border-radius: var(--radius);
  margin: auto;
}

.show {
  animation: fadein 2s;
  margin-left: 0.2rem;
  display: flex;
}

.show > span {
  vertical-align: middle;
  margin: auto;
}

div.nowPlaying > .show > a {
  display: inherit;
  margin-right: 0.2rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
