div.nowPlaying {
  margin-top: 3rem;
}

.nowPlaying {
  display: flex;
}

.nowPlaying img {
  margin-left: 0.4rem;
}

.bigPicture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigPicture > span {
  display: block;
}

.bigPicture > span + span {
  display: contents;
}

.bigPicture img {
  width: 80px;
  vertical-align: middle;
  margin-right: 1rem;
  border-radius: var(--radius);
  margin-left: 1rem;
  float: left;
}
