div.nowPlaying {
  margin-top: 3rem;
}

div.nowPlaying > span > b {
  vertical-align: middle;
}

.nowPlaying img {
  margin-left: 0.4rem;
}

.inline {
  width: 30px;
  vertical-align: middle;
  margin-right: 0.2rem;
}

.bigIcon {
  width: 50px;
  vertical-align: middle;
}

.bigPicture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigPicture > span {
  display: block;
}

.bigPicture > span + span > span {
  padding-top: 16px;
  display: block;
  float: right;
  animation: fadein 2s;
}

.bigPicture img {
  width: 80px;
  vertical-align: middle;
  margin-right: 1rem;
  border-radius: var(--radius);
  margin-left: 0.4rem;
}

.show {
  animation: fadein 2s;
  margin-left: 0.2rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
